# Dependencias principales del proyecto Django
Django==5.2.6
djangorestframework==3.16.1
djangorestframework-simplejwt==5.3.0
django-cors-headers==4.3.1
django-rest-passwordreset==1.5.0
python-decouple==3.8
sendgrid==6.12.5
mysqlclient==2.2.7
tzdata==2025.2
django-filter==24.3
